.table {
  padding: 50px;
  display: flex;
  flex-direction: row;
  flex-flow: row wrap;
  justify-content: space-evenly;
}

.movie-element {
  list-style-type: none;
  display: flex;
  padding: 30px;
  cursor: pointer;
}
