.vote {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 4%;
}

.vote-block {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex: 1;
  width: 30%;
}

.instructions {
  text-align: center;
}

.element {
  margin-bottom: 20px;
}
